body{
    background-color: whitesmoke;
    padding: 16px;
}

.activity-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


@media screen and (max-width: 768px) {

    .activity-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}
