.clicked-btn{
    height: 60px;
    border: 1px solid gray;
    background-color: aliceblue;
   margin: 4px;
   border-radius: 9px;
   margin-top: 12%;
display: flex;
justify-content: center;
align-items: center;
}


button{
 margin: 5px;
 padding: 5px;
 border-radius: 16px;
 border: none;
 background-color: orange;
}

.detail{
    margin-left: 3px;
}
.break-time{
    border: 1px solid wheat;
    margin: 3px;
    height: 60px;
    border-radius: 16px;
    background-color: white;
    margin-bottom: 5%;
}